<div class="pos-relative m-t-30">
  <!--  [class]="data.uiData.selected ? 'border':''"-->
  <mat-form-field appearance="outline" class="w-full"
                  [ngStyle]="{'font-size': data.uiData ? data.uiData.font: '', 'font-weight':data.uiData?.bold ? 'bold': '', 'font-style':data.uiData?.italic ? 'italic':'','text-decoration':data.uiData?.underline? 'underline':'', 'color':data.uiData?.color ?'':'', 'font-family' : data.uiData?.font_family }">

    <textarea rows="5" [(ngModel)]="data.dynamicData.value" matInput placeholder="{{data.uiData?.text}}"

              [ngStyle]="{'font-family': data.uiData?.custom?.global?.font}"></textarea>
  </mat-form-field>
  <!--  <app-edit *ngIf="data.uiData.selected"></app-edit>-->
</div>
