


<div class="container">
  <mat-card >
    <div class="jumbotron text-center">
      <h1 class="display-3" [ngStyle]="{'font-family':dataShare.siteData.custom?.global?.font}">Sorry!</h1>
      <p [ngStyle]="{'font-family':dataShare.siteData.custom?.global?.font}"><strong>YourTransactionOf <b>&euro;</b> Failed </strong></p>
      <p class="lead" [ngStyle]="{'font-family':dataShare.siteData.custom?.global?.font}">YouCanReachOut</p>
      <hr>
      <p [ngStyle]="{'font-family':dataShare.siteData.custom?.global?.font}">
        HavingTrouble? <a  matTooltip="markus@pianto.io"  href="mailto:markus@pianto.io">ContactUs</a>
      </p>
      <p class="lead" [ngStyle]="{'font-family':dataShare.siteData.custom?.global?.font}">
        <a class="btn btn-primary btn-sm" href="" role="button">ContinueToHomepage</a>
      </p>
    </div>
  </mat-card>
</div>

