//.info-card{
//  padding: 0;
//  border-radius: 0 0 18px 18px;
//  background-color: white;
//  margin-bottom: 30px;
//}
////
////.home-card{
////  display: flex;
////  justify-content: space-between;
////}
//
//.info-head{
//  color: white;
//  font-size: 28px;
//  text-align: center;
//  padding: 25px 5px;
//}
.info-content{
  padding: 10px 20px;
  color: black;
  margin-top: 10px;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 1px -1px rgba(255, 56, 10, 0.1),
  0 1px 1px 0  rgba(255, 56, 10, 0.19),
  0 1px 3px 0  rgba(255, 56, 10, 0.19),
}
//
////.home-container{
////  width: 90%;
////  margin: auto;
////}
//@media (max-width: 500px) {
//  .container{
//    padding: 0;
//  }
//
//  .main-card{
//    border-radius: 0;
//  }
//}
//
//.info-container{
//  width: 30%;
//  //margin-left: 50px;
//  position: fixed;
//  right: 10%;
//  top: 100px;
//  transition: ease all .5s;
//  overflow-x: hidden;
//  overflow-y: auto;
//  max-height: 550px;
//}
//
//
//.stepper-container{
//  width: 60%;
//  transition: ease all .5s;
//
//}
//.container{min-height: 100vh}
//
//@media (max-width: 1200px) {
//  .info-container{
//    position: static;
//    order: 1;
//    width: 100%;
//    transition: ease all .5s;
//    //margin-top: 50px;
//    max-height: unset;
//
//  }
//
//  .stepper-container{
//    flex-grow: 1;
//    order: 2;
//    margin-top: 30px;
//    transition: ease all .5s;
//    width: 100%;
//
//  }
//
//}




// start
.info-card{
  padding: 0!important;
  border-radius: 0 0 18px 18px;
  //background-color: white;
  //margin-top: 40%;
  box-shadow: 1px 5px 5px 5px #ff380a;
}

.info-head{
  color: white;
  font-size: 28px;
  text-align: center;
  padding: 33px 5px;
}
.text-center{
  text-align: center;
}


.mat-form-field{
  display: block;
}

.input{
  margin: 20px;
}

.service-details{
  padding: 10px;
  margin: 10px;
  //box-shadow: 0 3px 15px rgba(0,0,0,0.2);
  transition: .3s;
}

.service-details:hover {
  cursor: pointer;
  -moz-box-shadow: 0 5px 25px 0 rgba(182,182,212,1);
  -webkit-box-shadow: 0 5px 25px 0 rgba(182,182,212,1);
  box-shadow : 0 5px 25px 0 rgba(182,182,212,1);
  -webkit-transition: all 300ms ease;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  transition: ease all .5s;
  margin-top: 120px;
  padding-bottom: 44px;

}

.stepper-container{
  width: 60%;
  transition: ease all .5s;

}
.info-container{
  width: 30%;
  //margin-left: 50px;
  position: fixed;
  right: 10%;
  top: 100px;
  transition: ease all .5s;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 550px;
}

.hint:hover{
  text-decoration: underline;
  cursor: pointer;
  color: #1d1d1d;
}

.hint{
  color: #adadad;
}

.main-card{
  border-radius: 15px;
  //background-color: #1d1d1d;
}

.container{min-height: 100vh}

@media (max-width: 1200px) {
  .info-container{
    position: static;
    order: 1;
    width: 100%;
    transition: ease all .5s;
    //margin-top: 50px;
    max-height: unset;

  }

  .stepper-container{
    flex-grow: 1;
    order: 2;
    margin-top: 30px;
    transition: ease all .5s;

  }
}

@media (max-width: 500px) {

  .container{
    padding: 0;
  }

  .main-card{
    border-radius: 0;
  }
}


.div-ov{
  position: relative;
  overflow: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #353b3b;
}
.info-container {
  box-shadow: 1px 1px 19px 0px rgb(246 208 208 / 73%);
  border-radius: 0 0 18px 18px;
}

